.SigninCover{
    /* background-color: rgb(175, 175, 175); */
    background-color: #e9edc9 ;
    width: 80%;
    margin: auto;
    margin-top: 60px;
    border-radius: 15px;
    /* border: 1px solid rgb(128, 128, 128); */
    box-shadow: 2px 2px solid grey;
    padding: 15px;
}
.LoginCover{
    height: 350px;
    background-color: #e9edc9;
    width: 80%;
    margin-left: 10%;
    margin-top: 4%;
    border-radius: 10px;
    /* border: 0px solid rgb(187, 187, 187); */
}
.SigninHeading{
    h2{
        font-size: 28px;
        font-weight: 700;
        text-align: center;
    }
    p{
        text-align: center;
        cursor: pointer;
        transition: .1s ;
    }
    p:hover{
        color:blue;
    }
    h3{
        text-align: center;
        font-size: larger;
        margin-top: .5rem;
        cursor: pointer;
        transition: .1s ;
    }
    h3:hover{
        color:blue;
        /* text-shadow: 2px 2px solid rgb(0, 0, 0); */
    }
}
#DetailsCover{
    display: flex;
    flex-direction: column;
    padding-left:4rem;
    padding-right:4rem;
    font-size: 18px;
    label{
        margin-top:15px;
        font-size: 20px;
        margin-bottom: .5rem;
    }
    input{
        margin-top: -5px;
        font-size: 18px;
        color:black;
        border-radius: 3px;
        padding-left: .5rem;
    }
    
}
.SignInBtnCover{
    button{
        font-size: 22px;    
        height: 2.2rem;
        margin: auto;
        margin-top: 1rem;
        background-color: rgb(242, 242, 242);
        color: rgb(41, 41, 41);
        border:1px solid white;
        border-radius: 10px;
        cursor: pointer;
        width: 120px;
    }
    button:hover {
        color: white;
        background-color: black;
    }

}